<?php

//Configuration here will override the ones present in config.php
return new Phalcon\Config([
	//Values are prod, dev and debug
	'env' => 'dev',
    'database' => [
        'adapter'     => 'Mysql',
        'host'        => 'mysql',
        'username'    => 'root',
        'password'    => 'root',
        'dbname'      => 'tcommerce',
        'charset'     => 'utf8mb4',
        'logQueries'  => true,
        'logFile'     => 'queries.log',
        'logTrace'    => false
    ],
	'templating' => [
		'compileAlways'    => true
	],
	'cache' => [
		'adapter' => 'Redis',
		'data' => [
			'host'       => 'redis',
			'port'       => 6379
		]
	]
]);
